.nav {
  &__list {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__link {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 15px;

    color: #101010;
    transition: color .3s ease-out;

    @include hover {
      color: #6fc727;

    }

    &.active {
      color: #6fc727;
    }
  }
}