.performers {
  padding: 80px 0;

  @include small-tablet {
    padding: 50px 0;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 0;

    @include small-tablet {
      grid-template-columns: 1fr;
      gap: 0;
    }
  }

  &__title {
    margin-bottom: 50px;

    @include small-tablet {
      margin-bottom: 32px;
    }
  }

}

.per-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include small-tablet {
    flex-direction: row;
    padding: 15px 0;
    border-bottom: 1px solid #CBD0CF;
  }

  &__content {
    max-width: 165px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

    @include small-tablet {
      flex-direction: row;
      max-width: unset;
    }
  }

  &__icon {
    width: 40px;
    height: 40px;

    svg {
      width: 100%;
      height: 100%;

      & .fill {
        fill: #CBD0CF;
        transition: fill .3s ease-out;


      }

      & .stroke {
        stroke: #CBD0CF;
        transition: stroke .3s ease-out;

        @include hover {
          stroke: #6FC727;
        }
      }
    }
  }



  &__title {

    margin: 0 auto;

    font-weight: 500;
    font-size: 15px;
    text-align: center;
    color: #101010;
  }

  @include hover {
    .per-item__icon {
      .fill {
        fill: #6FC727;
      }

      .stroke {
        stroke: #6FC727;
      }
    }

    .per-item__title {
      text-decoration: underline;
    }
  }

  &.active {
    .per-item__icon {
      .fill {
        fill: #6FC727;
      }

      .stroke {
        stroke: #6FC727;
      }
    }

    .per-item__title {
      text-decoration: underline;
    }
  }
}