.service-section {
  margin: -160px 0;
  padding: 240px 0;


  background: radial-gradient(50% 50% at 50% 50%, rgb(223, 238, 237) 0%, transparent 100%);

  @include tablet {
    margin: -80px 0;
    padding: 100px 0;
    padding-bottom: 140px;
    background: radial-gradient(428.69% 50% at 50% 50%, rgb(223, 238, 237) 0%, transparent 100%);
  }

  &__title {
    margin-bottom: 30px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    @include small-tablet {
      grid-template-columns: 1fr;
      gap: 25px;
    }
  }

  &__item {
    border-radius: 13px;
    background-color: #fff;
    padding: 40px 30px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__capture {
    display: block;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #101010;
  }

  &__desc {
    margin: 0;
    margin-bottom: 30px;

    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #101010;
  }

  &__img {
    height: 220px;
    width: auto;
    margin: 0 auto;

    img {
      height: 100%;
      width: auto;
    }
  }
}