.services-hero {
  margin-bottom: 40px;

  &__tabs {
    display: flex;
    align-items: stretch;
    gap: 20px;
    padding-top: 30px;
    padding-bottom: 80px;

    @include tablet {
      gap: 0;
      padding-bottom: 45px;
    }

    .swiper-slide {
      box-sizing: border-box;
      width: auto;
      height: auto;
    }

    .tab {
      display: block;
      flex: 1;

      @include tablet {
        flex: 1 0 auto;
        padding: 20px 0;
        width: 150px;
        box-shadow: 0 4px 13px 0 rgba(30, 35, 66, 0.11);
        background: #fff;
        border-radius: 13px;
      }

      .per-item__content {
        @include small-tablet {
          flex-direction: column;
        }
      }

      .per-item__title {
        @include tablet {
          font-size: 13px;
        }
      }
    }
  }


}

.services-content {
  display: none;

  &.active {
    display: block;
  }

  &__title {
    margin: 0;
    margin-bottom: 20px;
  }

  &__desc {
    margin: 0;
    margin-bottom: 40px;

    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #101010;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    @include small-tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mobile {
      grid-template-columns: 1fr;
    }
  }

}

.services-item {
  padding: 30px;
  box-shadow: 0 4px 13px 0 rgba(30, 35, 66, 0.11);
  background: #fff;
  border-radius: 13px;

  &__title {
    display: block;
    position: relative;
    margin: 0;
    margin-bottom: 24px;
    text-align: left;
    padding-bottom: 18px;
    font-weight: 600;
    font-size: 18px;
    color: #000;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 45px;
      height: 2px;
      background-color: #6fc727;
    }


  }

  &__list {
    font-weight: 400;
    font-size: 14px;
    line-height: 122%;
    color: #000;
    padding-left: 20px;
    margin: 0;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &::marker {
      font-size: 8px;
    }
  }
}