.settings-general {


  &__image {
    display: flex;
    gap: 30px;

    margin-bottom: 45px;

    @include small-tablet {
      flex-direction: column;
      align-items: center;
    }
  }
}

.settings-image {
  &__label {
    display: block;
    max-width: 200px;
  }

  &__file {
    width: 200px;
    height: 200px;
    border-radius: 13px;
    background-color: #f7f8fb;
    border: 1px solid #e2e5ed;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 15px;
  }

  &__look {
    display: block;
    margin-top: 16px;
    font-weight: 400;
    font-size: 16px;
    color: #101010;

    @include small-tablet {
      font-size: 15px;
    }

    a {
      font-weight: 500;
      text-decoration: underline;
      text-decoration-skip-ink: none;
      color: #2f4aac;
    }
  }
}