.settings-main {
  padding-top: 45px;


  &__title {
    text-align: left;
    margin-bottom: 35px;
  }

  &__options {
    margin-bottom: 32px;
    display: flex;
    align-items: center;

    overflow: hidden;
    overflow-x: auto;
    border-bottom: 2px solid #d1d6e3;
  }

  &__item {
    padding: 0 20px;
    font-weight: 600;
    font-size: 16px;
    color: #101010;
    padding-bottom: 10px;
    cursor: pointer;
    position: relative;
    flex-shrink: 0;

    &::before {
      content: "";
      position: absolute;
      bottom: -3px;
      left: 0;
      height: 4px;
      width: 100%;
      opacity: 0;
      background-color: #6fc727;
      transition: opacity .3s ease-out;
    }

    &.active {
      &::before {
        opacity: 1;
      }
    }
  }

  &__content {
    background-color: #fff;
    border-radius: 13px;
    padding: 30px;

    box-shadow: 0 4px 13px 0 rgba(30, 35, 66, 0.11);

    display: none;

    &.active {
      display: block;
    }
  }
}