<section class="blog">
  <div class="container">
    <h2 class="blog__title title2">Новые публикации в блоге</h2>
    <p class="blog__desc">
      Вы можете стать героем наших историй. <a href="#">Разместите задание</a> или <a href="#">станьте исполнителем.</a>
    </p>
    <div class="swiper blog__slider">
      <div class="blog__items swiper-wrapper">
        <div class="swiper-slide">
          <article class="blog__item blog-item">
            <div class="blog-item__image">
              <picture>
                <source srcset="./img/blog/01-2x.webp" media="(min-width: 1440px)" type="image/webp">
                <source srcset="./img/blog/01.webp" type="image/webp">
                <img src="./img/blog/01.jpg" srcset="./img/blog/01-2x.jpg 2x" alt="">
              </picture>
            </div>
            <h4 class="blog-item__title">Хочу стать космонавтом. А могу ли?</h4>
            <p class="blog-item__desc">
              В детстве многие из нас мечтали стать космонавтами, но в итоге выбрали совсем другую профессию.
            </p>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="blog__item blog-item">
            <div class="blog-item__image">
              <picture>
                <source srcset="./img/blog/02-2x.webp" media="(min-width: 1440px)" type="image/webp">
                <source srcset="./img/blog/02.webp" type="image/webp">
                <img src="./img/blog/02.jpg" srcset="./img/blog/02-2x.jpg 2x" alt="">
              </picture>
            </div>
            <h4 class="blog-item__title">Хочу стать космонавтом. А могу ли?</h4>
            <p class="blog-item__desc">
              В детстве многие из нас мечтали стать космонавтами, но в итоге выбрали совсем другую профессию.
            </p>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="blog__item blog-item">
            <div class="blog-item__image">
              <picture>
                <source srcset="./img/blog/03-2x.webp" media="(min-width: 1440px)" type="image/webp">
                <source srcset="./img/blog/03.webp" type="image/webp">
                <img src="./img/blog/03.jpg" srcset="./img/blog/03-2x.jpg 2x" alt="">
              </picture>
            </div>
            <h4 class="blog-item__title">Хочу стать космонавтом. А могу ли?</h4>
            <p class="blog-item__desc">
              В детстве многие из нас мечтали стать космонавтами, но в итоге выбрали совсем другую профессию.
            </p>
          </article>
        </div>
      </div>
    </div>

    <div class="blog__bottom">
      <a href="#" class="btn btn--stroke blog__btn">Посмотреть все статьи</a>
    </div>
  </div>
</section>