<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="footer__col">
        <a href="./" class="header__logo footer__logo">
          <img src="./img/logo.svg" alt="">
        </a>
      </div>
      <nav class="footer__nav footer-nav">
        <ul class="list-reset footer-nav__list">
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Как стать исполнителем</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Частые вопросы</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">О компании</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Вакансии</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Жизнь в компании</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Блог</a>
          </li>
        </ul>
      </nav>
      <nav class="footer__nav footer-nav">
        <ul class="list-reset footer-nav__list">
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Создать заказ</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Все услуги</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Условия пользования</a>
          </li>
        </ul>
      </nav>
      <div class="footer__col">
        <span class="footer__capture">Служба поддержки:</span>
        <a href="tel:78000045450" class="footer__tel">8 800 004 54 50</a>
        <span class="footer__time">Будни с 6:00 до 22:00</span>
        <span class="footer__time">Выходные с 8:00 до 22:00</span>
      </div>
    </div>
    <div class="footer__socials">
      <a href="#">
        <img src="./img/app-store.png" alt="">
      </a>
      <a href="#">
        <img src="./img/google-play.png" alt="">
      </a>
      <a href="#">
        <img src="./img/app-gallery.png" alt="">
      </a>
    </div>
    <small class="footer__copy">
      ООО “ПОРТАЛ” осуществляет деятельность в области информационных технологий. Вид деятельности (клд): 2.01.
      На информационном ресурсе применяются рекомендательные технологии
    </small>
  </div>
</footer>