<section class="hero">
  <div class="container">
    <div class="hero__content">
      <h1 class="hero__title">Покупайте услуги в 1 клик</h1>
      <p class="hero__desc">Сервис по подбору исполнителей в любой сфере</p>
      <form action="post" class="hero__form">
        <input type="text" class="hero__input" placeholder="Услуга или специалист">
        <button class="btn-reset btn hero__btn">Найти исполнителя</button>
      </form>
      <div class="hero__ex">Например <a href="#">SEO - тексты разработка</a></div>
    </div>
  </div>


  <div class="hero__img hero__img--1">
    <img src="./img/avatars/01.png" alt="">
  </div>
  <div class="hero__img hero__img--2">
    <img src="./img/avatars/02.png" alt="">
  </div>
  <div class="hero__img hero__img--3">
    <img src="./img/avatars/03.png" alt="">
    <div>Програмист</div>
  </div>
  <div class="hero__img hero__img--4">
    <img src="./img/avatars/04.png" alt="">
    <div>Дизайнер</div>
  </div>
  <div class="hero__img hero__img--5">
    <img src="./img/avatars/05.png" alt="">
  </div>
  <div class="hero__img hero__img--6">
    <img src="./img/avatars/06.png" alt="">
    <div>Маркетолог</div>
  </div>
  <div class="hero__img hero__img--7">
    <img src="./img/avatars/07.png" alt="">
    <div>Видеомонтажер</div>
  </div>
  <div class="hero__img hero__img--8">
    <img src="./img/avatars/08.png" alt="">
  </div>
  <div class="hero__img hero__img--9">
    <img src="./img/avatars/09.png" alt="">
    <div>SMM</div>
  </div>
</section>