<section class="service-section">
  <div class="container">
    <h2 class="title2 service-section__title">Как работает сервис</h2>
    <div class="service-section__items">
      <div class="service-section__item">
        <span class="service-section__capture">Создайте задание</span>
        <p class="service-section__desc">
          Опишите, что нужно сделать и сколько Вы готовы за это заплатить
        </p>
        <div class="service-section__img">
          <img src="./img/service/01.svg" alt="">
        </div>
      </div>
      <div class="service-section__item">
        <span class="service-section__capture">Найдите исполнителя</span>
        <p class="service-section__desc">
          Подбираем лучшых исполнителей для вашего задания, вы выбираете одного
        </p>
        <div class="service-section__img">
          <img src="./img/service/02.svg" alt="">
        </div>
      </div>
      <div class="service-section__item">
        <span class="service-section__capture">Платите за выполнение</span>
        <p class="service-section__desc">
          Оплачиваете заказ, если на 100% уверены в его выполнении
        </p>
        <div class="service-section__img">
          <img src="./img/service/03.svg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>